<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.ahmed.dont-be-late</string>

    <key>ProgramArguments</key>
    <array>
        <string>UV_BIN</string>
        <string>run</string>
        <string>--project</string>
        <string>PROJECT_DIR</string>
        <string>dont-be-late</string>
    </array>

    <key>RunAtLoad</key>
    <true/>

    <key>KeepAlive</key>
    <true/>

    <key>StandardOutPath</key>
    <string>/tmp/dont-be-late.out</string>

    <key>StandardErrorPath</key>
    <string>/tmp/dont-be-late.err</string>

    <!-- Required for GUI/Qt on macOS -->
    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
    </dict>
</dict>
</plist>
